<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="contractForm" class="com.seeyon.apps.bjev.form.ContractForm"/>

    <bean id="contractManagerService" class="com.seeyon.apps.bjev.services.impl.contractForm.ContractManagerServiceImpl"/>
</beans>